body {
    font-family: sans-serif;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    color: rgb(99, 99, 99);
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.navbar ul li {
    cursor: pointer;
}

.nav-item {
    margin-left: 150px;
}

.navbar ul li:hover {
    color: blue;
}

.header {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-width: 1px;
    border-radius: 10px;
    border-color: grey;
    border-style: solid;
}

.header p {
    padding-left: 20px;
    padding-right: 20px;
    color: grey;
}

.trivago-container {
    display: flex;
    align-items: center;
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.trivago-container img {
    width: 200px;
}

.trivago-container div {
    margin-left: 40px;
}

.search-container {
    margin-top: 100px;
    background-color: lightgray;
    padding-top: 50px;
    padding-bottom: 50px;
}

.search-sub-container {
    display: flex;
    align-items: center;
    width: 880px;
    margin-left: auto;
    margin-right: auto;
}

.non-first-div {
    margin-left: 20px;
}

.search-sub-container button {
    margin-left: 20px;
    height: 50px;
    width: 100px;
    background-color: blue;
    color: white;
    border-style: none;
    border-radius: 50px;
    cursor: pointer;
}

.search-sub-container button:hover {
    background-color: darkcyan;
}

.non-first-image {
    margin-left: 20px;
}

.companies-container {
    width: 880px;
    margin-left: auto;
    margin-right: auto;
}

.destinations-container {
    margin-top: 500px;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.blue-text {
    color: darkcyan;
}

.destinations-sub-container {
    display: flex;
    align-items: center;
}

.non-first-destinations-div {
    margin-left: 20px;
}

.destinations-sub-container div img {
    border-radius: 10px;
}

.horizontal-text-container {
    display: flex;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.horizontal-text-container div p {
    color: gray;
    text-align: justify;
}

.non-first-text-div {
    margin-left: 50px;
}

.cities-heading {
    text-align: center;
}

.horizontal-list-container {
    display: flex;
    align-items: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.horizontal-list-container ul {
    list-style-type: none;
    color: gray;
}

footer {
    background-color: #293339;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer h1, footer p {
    color: white;
}